/*Técnica de criação simples do site responsivo Data 20/12/2016*/


/*Formatação do corpo do site */

body{
      background-color: #cccccc;
}

/*Formatação dos h1 do site  */


h1,h2,h3{
         font-family: Arial,Verdana,Tahoma;

}

/*Formatação da section do site */


section{
		background-color: #ffffff;
		font-family: Arial,Calibri,Tahoma;
		padding: 10px;

}


/*Formatação do footer do site */


footer{
		background-color: #000;
		color: #fff;
		font-family: Arial,Calibri,Tahoma;
		font-size: 12px;
		text-align: center;
		padding: 10px;

}

/*Formatação da imagem e video do site */

img, video{
    max-width: 100%;

}


/*Formatação da nav do site */

nav{
		background-color:#000;
		height: 33px;
		font-family: Arial,Calibri,Tahoma;
		font-weight:bold;
		font-size: 14px;

}



nav ul{
		height: auto;
		padding: 8px 0px;
		margin: 0px;

}

nav li{
		display: inline;
		padding: 10px;
		margin: 0px;


}

nav a{
		text-decoration: none;
		color: #fff;
		padding: 8px 8px 8px 8px;


}

nav a:hover{
		color:#000;
		background-color: #fff;


}


/*Formatação do responsivo do  site */


@media all and (min-width: 960px)
{
body{
		width: 960px;
		margin: auto;
}

}


@media all and (max-width: 480px)
{

nav{
		height: 100%;
}

nav li{
		display: block;
		padding: 10px;
		margin: 0px;


}


}